/* .tz_loading start */
.tz_loading{width:210px;height:45px;background:#107985;
	position:absolute;color:#fff;text-align:center;line-height:45px;
	box-shadow:3px 3px 3px #111;
}
/* end .tz_loading */